<div class="map-container" align="center">
    <p class="map-title">Regional Churn</p>
    <img src="./assets/maps/map.jpg" class="map">
  </div>
<div class="chart-container">
  <canvas id="line-chart" class="line-chart">{{ chart }}</canvas>
</div>
  <div class="chart-container">
    
    <canvas id="bar-chart" class="line-chart">{{ chart }}</canvas>
    
    </div>
    <div class="chart-container prediction">
        <canvas id="line-chart2" class="line-chart">{{ chart }}</canvas>
      </div>
    <div class="chart-container lost">
      <canvas id="donut-chart" class="line-chart">{{ chart }}</canvas>
      </div>
